* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --creteButton: #28a745;  /* Green */
  --contentColor: rgb(252, 229, 229);
  --navbarColor: brown;
  --editButton: #f4b152;
  --deleteButton: #d9534f;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Full viewport height */
}

.navbar {
  height: 70px;
  background-color: var(--navbarColor); /* Dark color for navbar */
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

.content {
  flex: 1; /* Takes the remaining space */
  background-color: var(--contentColor); /* Different color for content */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Space between cards */
  justify-content: space-between; /* Distribute evenly */
  padding: 20px;
}

.cardTask {
  width: calc(20% - 20px); /* 5 cards per row */
  min-width: 200px; /* Prevents too-small cards */
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
}

.cardTask:hover {
  transform: scale(1.05);
}

button {
  margin-top: 10px;
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.edit {
  background-color: var(--editButton);
  color: white;
  margin-right: 10px;
}

.delete{
  background-color: var(--deleteButton);
  color: white;
}

.cardTask button:hover {
  opacity: 0.8;
}

.create{
  background-color: var(--creteButton);
  color: white;
}

.buttonCreate{
  background-color: var(--contentColor);
  display: flex;
  justify-content: right;
  padding: 10px;
}